<h3>Add New Job</h3>
		<%= form_for Job.new do |f| %>
			<p><%= f.label :vendor %>
			<%= f.text_field :vendor %></p>
			<p><%= f.label :type_of_cargo %>
			<%= f.text_field :cargo %></p>
			<p><%= f.label :number_of_containers %>
			<%= f.text_field :containers %></p>
			<p><%= f.label :price %>
			<%= f.number_field :price %></p>
			<p><%= f.label :origin_location %>
			<%= f.select :origin_location, ["Rome","Paris","Panama","Brazil","Trinidad","Alaska","The_Moon", "Mars", "The_Sun"] %></p>
			<p><%= f.label :destination %>
			<%= f.select :destination, ["Rome","Paris","Panama","Brazil","Trinidad","Alaska","The_Moon", "Mars", "The_Sun"] %></p>
			<p><%= f.label :delivery_date %>
			<%= f.date_field :date %></p>
			<p>Assign to boat: <%= f.select :boat_id, Boat.all.collect {|b| [b.name,b.id]} %></p>
			<p><%= f.submit  %></p>
		<% end %>