<div id="create_job">
<h3>Add New Job</h3>
	<%= form_for [@boat,@job] do |f| %>
		<p><%= f.label :vendor %></p>
		<p><%= f.text_field :vendor %></p>
		<p><%= f.label :type_of_cargo %></p>
		<p><%= f.text_field :cargo %></p>
		<p><%= f.label :number_of_containers %></p>
		<p><%= f.text_field :containers %></p>
		<p><%= f.label :price %></p>
		<p><%= f.number_field :price %></p>
		<p><%= f.label :origin_location %></p>
		<p><%= f.select :origin_location, ["Rome","Paris","Panama","Brazil","Trinidad","Alaska","The_Moon", "Mars", "The_Sun"] %></p>
		<p><%= f.label :destination %></p>
		<p><%= f.select :destination, ["Rome","Paris","Panama","Brazil","Trinidad","Alaska","The_Moon", "Mars", "The_Sun"] %></p>
		<p><%= f.label :delivery_date %></p>
		<p><%= f.date_field :date %></p>
		<p><%= f.submit "Create Job" %></p>
	<% end %>
</div>