<!DOCTYPE html>
<html>
<head>
  <title>Shpping1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="page_container">
	<div id="flashy">
		<% if flash[:notice] %>
			<p><%= flash[:notice] %></p>
		<% end %>
	</div>

	<div id="header">
		<%= image_tag("/anchor.png", id: "company_logo") %>
		<a href="/"><h1 id="header_logo">Ahoy!</h1></a>
		<div id="header_links">
			<% if current_user %>
				<ul>
					<li><%= link_to "Log Out",session_path(current_user), method: :delete %></li>
					<li><%= link_to "My Account", user_path(current_user) %></li>
				</ul>
				<% else %>
				<ul>
					<li><%= link_to "Sign In",sessions_path %></li>
				</ul>
			<% end %>
		</div>
	</div>


	<%= yield %>

</div>
</body>
</html>
